.navigation-search {

  position: relative;
  min-width: 280px;
  max-width: 500px;
  width: 50%;

  input[type="search"],
  input[type="text"] {
    background: $almostWhite;
    border: 1px solid $lightBrown;
    padding: 10px 1em;
    color: $brown;

    &:focus {
      outline: none !important;
      border: 1px solid $lightBrown;
      box-shadow: 0 0 10px darken($lightBrown, 20%);
    }
  }

  .ais-Hits-list {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 12px -10px rgba(31, 18, 53, 0.5);
  }

  .ais-Hits-item {
    margin: 0;
    width: 100%;
    border: 0;
    box-shadow: none;
    padding: 0;

    a {
      display: block;
      padding: 5px 10px;
      background: $lightBrown;
      text-decoration: none;
      color: $brown;

      &:hover {
        background: $almostWhite;
      }
    }
  }

  .ais-SearchBox-submitIcon {
    display: none;
  }

  .ais-Highlight-highlighted {
    background: transparent;
    font-weight: bold;
    font-style: normal;
  }
}