$tabBorderColor: rgba(0, 0, 0, 0.1);

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $tabBorderColor;

  a {
    display: block;
    color: $brown;
    padding: 0.25em 1em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
  }

  li {
    &.active {
      a {
        border-left-color: $tabBorderColor;
        border-right-color: $tabBorderColor;
        border-top-color: $tabBorderColor;
        color: #000;
      }
    }

    &.push-right {
      margin-left: auto;
    }
  }
}