.item-list {
  .item-list-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    &.inverse {
      background: lighten($lightBrown, 2%);
    }

    &:hover {
      //background: lighten($lightBrown, 2%);
      // &.inverse {
      background: darken($lightBrown, 2%);
      // }
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }
}
